<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="classes" />
          <add segment="log" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <rewrite>
      <rules>
        <rule name="Redirect pretty URL to index" stopProcessing="true">
            <match url="^([a-z]*)/?$" ignoreCase="false" />
            <conditions>
              <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
              <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
            </conditions>
            <action type="Rewrite" url="index.php?call={R:1}&amp;{QUERY_STRING}" appendQueryString="false" />
        </rule>
      </rules>
    </rewrite>

    <defaultDocument>
      <files>
          <clear />
          <add value="index.php" />
      </files>
    </defaultDocument>

  </system.webServer>
</configuration>